<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
    <h2><%= t '.title' %></h2>
    <%= react_component "ProjectDataAdmin", {
      token: form_authenticity_token,
      projectId: @project.id,
      courseId: @project.course_id,
      getEndpointsUrl: endpoints_path( unit: '' )

      }
      %>
  <%= link_to (t :back_to_course), @project.course %>
