<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
    <h2><%= t '.title' %></h2>
    <%= react_component "ProjectDataAdmin", {
      token: form_authenticity_token,
      projectId: @project.id,
      courseId: @project.course_id,
      projectUrl: projects_path,
      activateProjectUrl: activate_project_path,
      groupsUrl: groups_path(id: ''),
      diversityCheckUrl: check_diversity_score_path,

      diversityRescoreGroup: rescore_group_path(id: '' ),
      diversityRescoreGroups: rescore_groups_path(id: '' )
      }
      %>
  <%= link_to (t :back_to_course), @project.course %>
