<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<%= react_component "ConceptsTable", {
  conceptsUrl: concepts_path,
  token: form_authenticity_token
  } %>
