body {
  /* max-width: 50rem; */
  padding: 1rem;
  margin: auto;
  background: hsl(240, 86%, 45%);
  color: hsl(35, 50%, 20%);
  /* text-shadow: 0 1px 1px white; */
  font: 120%/1.6 Baskerville, Palatino Linotype, Palatino, serif;
}

a {
  color: hsl(246, 56%, 34%);
  text-decoration: none;
}


a:hover, a:active {
  color: hsl(246, 56%, 34%);
  text-decoration: underline;
}
