  <% theme_code = @current_user.nil? ? "a" : @current_user.theme.code %>
  <h1>Bingo! Word List</h1>
  <table>
    <tr>
      <th align="right">Topic:</th>
      <td><%= @candidate_list.bingo_game.topic %></td>
    </tr>
    <tr>
      <th align="right">Game date:</th>
      <td><%= @candidate_list.bingo_game.end_date %>
    </tr>
  </table>
  <h2>Terms</h2>
  <table id="concept_table" width="100%"
        class="table-stroke-ui ui-shadow table-stripe table-ui-responsive" >
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="30%">Term</th>
      </tr>
    </thead>
    <tbody>
      <% @candidate_list.bingo_game.concepts.uniq.each_with_index do |concept,index| %>
      <tr id="concept">
        <td><%= index %></td>
        <td id="term"><%= concept.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
