<p id="notice"><%= notice %></p>
<%= react_component "CourseDataAdmin", {
      token: form_authenticity_token,
      courseId: @course.present? ? @course.id : nil,
      getEndpointsUrl: endpoints_path( unit: '' )
      }
      %>

  


<%= link_to t( :back_to_courses ), courses_path %>
