<p style="color: green"><%= notice %></p>

<h1>Rubrics</h1>

<div id="rubrics">
  <% @rubrics.each do |rubric| %>
    <%= render rubric %>
    <p>
      <%= link_to "Show this rubric", rubric %>
    </p>
  <% end %>
</div>

<%= link_to "New rubric", new_rubric_path %>
