/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.mobile
 *= require awesomplete
 *= require colab
 *= require app_style
 *= require simple_calendar
 */

.connected
{
  width: 400px;
  border: 1px solid #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  background-color: #BAFFBA;
  color: #00D80C;
  text-align: center;
}

.disconnect
{
  width: 400px;
  border: 1px solid #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  background-color: #FFBABA;
  color: #D8000C;
  text-align: center;
}

.error
{
  width: 400px;
  border: 1px solid #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  background-color: #FFBABA;
  color: #D8000C;
  text-align: center;
}

.notice
{
  width: 400px;
  border: 1px solid #D8D8D8;
  padding: 5px;
  border-radius: 5px;
  background-color: #FEEFB3;
  color: #9F6000;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*
* Thank you for the progress bar RoToRa
* http://stackoverflow.com/questions/7190898/progress-bar-with-html-and-css
*/
#progressbar
{
  background-color: black;
  border-radius: 9px; /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar > div
{
  background-color: green;
  height:           12px;
  border-radius:    12px;
  color:            #F0F0F0;
  font-size:        10px;
  text-shadow:      0px 0px;
  padding:          1px;
}

dt
{
  font-weight:      bold;
  text-decoration:  underline;
}

h1
{
  font-variant:     small-caps;
  font-weight:      bold;
  text-align:       center;
}

h2
{
  font-weight:      bold;
  text-align:       center;
}

h3
{
  font-variant:     small-caps;
}

