<p>Hello <%= @resource.informal_name( false ) %>!</p>
<p>Someone has requested a change to your CoLab password. Follow these steps to do so:
  <ol>
    <li>Go to <%= link_to 'CoLab', root_url %>.</li>
    <li>Log out if you are currently logged in.</li>
    <li><%= link_to 'Click this password reset link.', password_change_url(reset_password_token: @token) %></li>
    <li>Enter and confirm your new password in the page.</li>
    <li>Click the 'Change my password' button</li>
    &hellip;and you're done!</p>
  <p>If you didn't request this, please ignore this email.</p>
  <p>Your password won't change until you access the link above and create a new one.</p>
  <p>CoLab Support</p>
