<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<%= react_component "BingoGameDataAdminWrapper", {
        token: form_authenticity_token,
        getEndpointsUrl: endpoints_path( unit: '' ),
        courseId: @bingo_game.course_id,
        bingoGameId: @bingo_game.id
        }
        %>

<%= link_to t( :back_to_course ), @bingo_game.course %>
