<p id="notice"><%= notice %></p>
<% theme_code = get_theme_code
   anonymize = get_anonymous %>
<%= react_component "BingoGameDataAdminWrapper", {
        bingoGameUrl: bingo_game_path( @bingo_game ),
        conceptUrl: bingo_concepts_path( id: @bingo_game.id ),
        gameResultsUrl: game_results_path( id: @bingo_game.id ),
        token: form_authenticity_token } %>

<%= link_to t( :back_to_course ), @bingo_game.course %>
